<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Grandpy __en_developpement__</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>


  <body>

    <!-- NAV BAR -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <p class="navbar-brand" href="#">Grandpy vous écoute: </p>
        <img src="{{url_for('static', filename='images/harold.jpeg') }}" alt="harold" id="harold">
      </div>
    </nav>

    <!-- CAROUSEL (dans la balise header)-->
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!--<ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>-->
        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="column_align item_du_carousel">
              <div class="le_texte">
                <h3 class="display-4 align_center">Bienvenu petit!</h3>
                <p class="lead overflow_scroll">Je sens que tu es venu entendre une histoire... Quand tu sauras sur quoi demande moi dans le champs de saisi en bas. Puis utilise les flèches pour retrouver l'ensemble de notre dialogue.... Grandpy a une mémoire d'éléphant.</p>
              </div>
            </div>
          </div>

        </div>


        <!-- les boutons droite et gauche du carousel-->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    
    <!-- FOOTER -->
    <section id="footer" class="py-5">
      <div class="container column_align">
        <h1 class="font-weight-light"> Posez votre question a grandpy:</h1>

        <form id="form">
          <input type="text" id="query" placeholder="Search for something...">
          <button type="submit" id="search">Search</button>
       </form>
        <p class="lead">Le code de ce projet peut etre retouvé sur gitHub en suivant ce lien: <a href="https://github.com/ometeore/grandpy.git  ">git</a>!</p>
      </div>
    </section>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU0ruTznnqHEfl7Yu0nkozg1aJ-6SXfSI&callback=initMap"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
  
  </body>
</html>



  