<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Grandpy  ZZZZZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
   </head>
  <body>
    <div id="gauche">
      <h1>Grandpy n'a pas compris et s'est endormit:</h1>
      <div>
        <form action="#" method="POST">
            <input type="hidden" name="chat" value="valider">
            <input type="submit" value="Jeter  le chat sur papy?">
        </form>

      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
  </body>
</html>