<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Grandpy __en developpement__</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
   </head>
  <body>
    <div id="gauche">
      <h1>Grandpy vous écoute:</h1>
      <form action="#" method="POST">
        <input type="text" name="phrase_utilisateur" id ="phrase_utilisateur">
        <input type="submit" value="ok">
        <p>phrase filtrée: {{ message }}</p><br/><hr>
        <p>phrase originelle: {{message_originel}}</p>
        <p>pourquoi ca ne marche pas: {{recit}}</p>
      </form>
      <p>QUESTION récurentes</p><br>
      <p>Que sigifie la notion de port</p>
      <p>a quoi sert une VM dans les serveurs? pourquoi des serveurs spécifiques python sql?</p>
      <p>Dans quel cas un test unitaire est strictement recomandé nécessaire</p>
      <p>Est ce qu'un framework a different protocol de securité qu'une application codé en language pur</p>
    </div>
    <div id="droite">
      Utilisez ces boutons pour créer votre formulaire<br><br>
      <button class="request" id="req1">Label</button>
      <button class="request" id="req2">Zone de texte</button>
      <button class="request" id="req3">Bouton</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
  </body>
</html>