html{
    height: 100%;
}
#harold
{
    height: 120px;
}
.ligne_align
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column_align
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#main_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header
{
    height: 150px;
    background: #1de3c8;
    width: 100%;
}
#footer
{
    text-align: center;
}

#main{
    width: 80%;
    overflow: scroll;
}
.photo_lieu{
    height: 200px;
}
.margin_30{
    margin: 30px;
}
.margin_auto{
    margin: auto;
}
#map{
    height: 400px;
    width: 100%;
}
h1, p{
    font-family: Georgia, 'Times New Roman', Times, serif, "Arial Black", Arial, Verdana, sans-serif;
}
#input_et_bouton{
    margin-top: 30px;
}

.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll #222222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
	
#loader
{
	width: 30px;
	height: 30px;
	border: 8px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
    animation: spin 1s linear infinite;
    margin:auto;
}

@keyframes spin
{
	from { transform: rotate(0deg);   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}